<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCApplication.styles.css" asp-append-version="true" />
</head>
<body>
  <partial name="_Header" /><!--instead of header code we can include here   partial name over here -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()<!------here we are rendering dynamic portiion of the site-->
        </main>
    </div>
    <partial name="_Footer" /><!--instead of footer code we cann include here partiial name over here-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
